@charset "utf-8";

.container{
    margin:0 auto;
    display: grid;
    max-width: 1000px;
    background: silver;
    grid-template-columns: repeat(12, 65px);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 20px;
}
.navigation, .content, .ad{
    height: calc(100vh - 200px);
}
.header{
    background: red;
    grid-column: 1/ span 10;
}
.navigation{
    background: yellow;
    grid-column: 1/span 2;
    grid-row: 2/3;
}
.content{
    grid-column: 3/span 8;
    grid-row: 2/3;
        background: yellowgreen;
}
.ad{
    grid-column: 2/span -1;
    grid-row: 2/3;
    background: skyblue;
}
.footer{
    grid-column:3/span 8;
    background: limegreen;
}